.style4
  width: 100%;
  background: #fff;
  margin: 20px 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 36px 30px;
  .title
    font-size: 36px
    color: #333;
    line-height: 52px
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    padding-bottom: 34px
    font-family: PingFangSC-Regular;
    margin-top: -8px
  .mySwiper
    position: relative
    width: 750px
    height: 272px
    margin-left: -30px
    .u-pic
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      img
        width 100%
        height 100%
