.search-wrapper
  padding 0 30px
  height 88px
  .search-main
    float left
    height 56px
    margin-top 16px
    width: 560px
    font-size 24px
    background: #f4f4f4
    text-align center
    input
      width: 520px
      height 40px
      margin-top 8px
      background: #f4f4f4
      border none
  span
    float right
    height 40px
    margin-top 24px
    font-size 28px

.search-list
  padding 0 30px
  li
    height 104px
    line-height 104px
    border-bottom 1px solid #666
